body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: tahoma, verdana, sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.fl_l { float: left; }
.fl_r { float: right; }

#shade {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  overflow: hidden;
}

#popup_wrap {
  width: 642px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  margin-top: 0px;
}

#popup_header {
  background: #597BA5;
  padding: 17px 20px 18px;
  font-size: 0.89em;
  font-weight: bold;
  color: #ffffff;
}

#popup_content {
  background-color: #ffffff;
}

#graffiti_wrap {
  *width: 620px;
}

#graffiti_links {
  color: #666;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 3px 10px;
}

.graffiti_link {
  font-size: 0.9em;
  color: #41658c;
  text-decoration: none;
}

.graffiti_link:hover {
  text-decoration: underline;
}

#graffiti_utils {
  margin-top: -10000px;
  margin-left: -10000px;
  z-index: 0;
}

#graffiti_drawarea_wrap {
  background-color: #ffffff;
  width: 620px;
  height: 310px;
  border: 1px solid #dddddd;
}

#graffiti_drawarea_border {
  padding: 10px;
  padding-bottom: 0;
  background: #f0f2f5;
}

#graffiti_canvas_main, #graffiti_canvas_stroke {
  display: block;
  width: 620px;
  height: 310px;
}

#graffiti_canvas_stroke {
  position: relative;
  top: -310px;
}

#graffiti_tools {
  width: 620px;
  overflow: hidden;
  height: 81px;
}

.graffiti_tools_section {
  margin-left: 15px;
}

#graffiti_tools_brush, #graffiti_brush_canvas {
  width: 80px;
  height: 80px;
}

#graffiti_colorpreview_wrap:hover {
  cursor: pointer;
}

#graffiti_colorpreview_wrap:hover #graffiti_colorpreview_arrow {
 -webkit-transition: order 0.3s linear;
  -moz-transition: order 0.3s linear;
  -o-transition: order 0.3s linear;
  transition: border 0.3s;
  border-bottom: 6px solid #506F95;
}

#graffiti_colorpreview_arrow {
  width: 0; 
  height: 0;
  margin-top: 27px;
  margin-left: 1px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #6A89AF;
}

#graffiti_colorpreview_box {
  border: 1px solid #fff;
  width: 14px;
  height: 14px;
  background-color: rgb(95, 127, 162);
  margin-top: 1px;
}

#graffiti_colorpicker_wrap {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  top: 250px; left: 350px;
  width: 289px;
  height: 200px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 2px #ddd;
  -moz-box-shadow: 0 0 2px #ddd;
  box-shadow: 0 0 2px #ddd;
  padding: 5px;
}

#graffiti_colorpicker {
  cursor: pointer;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
}

.graffiti_colorpicker_row {
  overflow: hidden;
  border-bottom: 1px solid #333;
}

.graffiti_colorpicker_cell {
  width: 15px; 
  height: 15px;
  border-right: 1px solid #333;
}

#graffiti_colorpicker_cell_active {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
}

.graffiti_slider_caption {
  margin-top: 30px;
  color: #7c7f82;
}

.graffiti_slider_wrap {
  cursor: default;
  height: 14px;
  margin-top: 5px;
  margin-left: 15px;
  margin-top: 35px;
}

.graffiti_slider {
  width: 140px;
  height: 7px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #bac7d4;
}

.graffiti_slider_thumb {
  position: relative;
  margin-top: -10px;
  margin-left: -5px;
  width: 13px;
  height: 13px;
  background-color: #6A89AF;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#graffiti_resize_wrap {
  height: 10px;
  background: #f0f2f5;
  overflow: hidden;
  cursor: ns-resize;
  -webkit-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(6, 33, 63, 0.1);
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.1);
  border-bottom: 1px solid #ddd;
}

#graffiti_resize_line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  height: 1px;
  width: 60px;
  background-color: #dddddd;
  border-bottom: 1px solid #fff;
}
